@import "../../../css-config/mixins.scss";

.hero-banner {
    padding: 40px 0;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    @include md {
        height: calc(100vh - 80px);
    }
    .content {
        @include md {
            flex-direction: row!important;
            max-width: 1200px;
        }
    }
    .banner-img {
        z-index: 9;
        width: 200px;
        margin-bottom: 20px;
        @include md {
            width: 500px;
            margin-right: 60px;
            margin-top: 50px;
            margin-bottom: 0;
        }
        @include xxl {
            width: 600px;
            margin-right: 0;
            margin-top: 0;
        }
    }
}